@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css";
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(bisniss.jpg)no-repeat;
    background-size: cover;
}
.login-box{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    color: white;

}
.login-box h1{
     float: left;
     font-size: 40px;
     border-bottom: 6px solid	skyblue;
     margin-bottom: 50px;
     padding: 14px;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px;
    margin: 8px;
    border-bottom: 3px solid skyblue;

}
.textbox i{
    width: 25px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 25px;
    width: 100%;
    float: left;
    margin: 5px;
}

.btn{
    width: 100%;
    background : skyblue;
    border :3px round black;
    color : whitesmoke;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    margin: 12px;
}